<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
 <!-- <parameter name="myName" value="Kanika" /> --> 
  <parameter name ="mySal" value="1000000" />
  	<classes>
  		<class name="TestParameterWithXML" />
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
